stages:
- test

run-tests:
  stage: test
  image: python:3.10
  before_script:
  - pip install -r requirements.txt pytest
  script:
{%- if cookiecutter.use_ruff %}
  - ruff format --check
{%- endif %}
{%- if cookiecutter.use_pytest %}
  - pytest -v
{%- endif %}
