stages:
- test

run-tests:
  stage: test
  image: python:{{ cookiecutter.__python_version }}
  variables:
    PIP_ROOT_USER_ACTION: ignore
{%- if cookiecutter.use_uv %}
    UV_LINK_MODE: copy
{%- endif %}
  before_script:
  - python -m pip install --upgrade pip
{%- if cookiecutter.use_uv %}
  - pip install uv
  - uv sync --locked
{%- else %}
  - pip install -r requirements.txt .
{%- endif %}
  script:
{%- if cookiecutter.use_ruff_format %}
{%- if cookiecutter.use_uv %}
  - uv run ruff format --check
{%- else %}
  - ruff format --check
{%- endif %}
{%- endif %}
{%- if cookiecutter.use_ruff_lint %}
{%- if cookiecutter.use_uv %}
  - uv run ruff check
{%- else %}
  - ruff check
{%- endif %}
{%- endif %}
{%- if cookiecutter.use_pytest %}
{%- if cookiecutter.use_uv %}
  - uv run pytest -v
{%- else %}
  - pytest -v
{%- endif %}
{%- endif %}
