repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
    args: ["--maxkb=2000"]
  - id: check-case-conflict
  - id: check-illegal-windows-names
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: trailing-whitespace
{%- if cookiecutter.use_ruff_format or cookiecutter.use_ruff_lint %}
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.3
  hooks:
{%- if cookiecutter.use_ruff_lint %}
    - id: ruff-check
      args: [ --fix ]
{%- endif %}
{%- if cookiecutter.use_ruff_format %}
    - id: ruff-format
{%- endif %}
{%- endif %}
